:root {
    --primary-text-color: #22343D;
    --accent-color: #02897A;
}
/* Global styles */
html {
    box-sizing: border-box;
}
*,
*::before,
::after {
    box-sizing: inherit;
}
h1,h2,h3,h4,h5,h6,p {
    margin:0;
}
img {display: block; /* Global fix img 4px bottom issie */
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: var(--primary-text-color);
}
.container {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section {
    width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}
.flex {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.align-left {
    text-align: left;
}

/* Header styles */

.logo {
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    color: #173A56;
    padding-top: 22px;
    padding-bottom: 22px;
    text-decoration: none;
    margin-right: 237px;
}
.logo-svg {
    width: 40px;
    height: 36px;
    margin-right: 16px;
}
.main-menu {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 30px;
}
a.menu {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 400;
    padding-top: 26px;
    padding-bottom: 26px;
}
a.menu-current {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 600;
    padding-top: 26px;
    padding-bottom: 26px;
}
a.menu:hover,
a.menu:focus {
    color: #000;
}
.menu-btn-lt {
    width: 102px;
    height: 42px;
    border-radius: 4px;
    background-color: transpaterent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #BCD0E5;
    font-weight: 600;
    color: #173a56;
    margin: 0;
    cursor: pointer;
}
.menu-btn-dk {
    width: 102px;
    height:42px;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    font-weight: 600;
    color: #fff;
    margin: 0;
    cursor: pointer;
}

/* Hero section */
h1.hero {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 18px;
}
p.hero {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    margin-bottom: 45px;
}
.btn-hero {
    background-color: var(--accent-color);
    width: 180px;
    height: 52px;
    color:#fff;
    font-weight: 700;
    border-style: none;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
}
.link-hero {
    font-size: 16px;
    font-weight: 600;
    color: var(--accent-color);
    text-decoration-thickness: 1px;
}
h2.features {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}
h2.process {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 25px;
}
.features-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.bg-top {
    background-image: url(../img/background-1.svg);
    background-repeat: no-repeat;
    background-position: top;
}
.bg-bottom {
    background-image: url(../img/background-2.svg);
    background-repeat: no-repeat;
    background-position: top;
}
h3.features {
    font-size: 22px;
    line-height: 1.5;
    font-weight: 600;
}
.features-list {
    gap: 30px;
    align-items: flex-start;
}
.feature-list {
    text-align: left;
    width: 25%;
}
.btn-features {
    text-transform: uppercase;
    margin-top: 75px;
    margin-bottom: 80px;
    cursor: pointer;
}
.section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-info-l {
    text-align: left;
    margin-right: 80px;
}
.section-info-r {
    text-align: left;
    margin-left: 80px;
}
.section-header {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 25px;
}
.sub-title {
    font-weight: 600;
    line-height: 1.5;
    padding-top: 25px;
}
.support-list {
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}
.support-icon {
    margin-right: 30px;
    width: 35px;
    height: 35px;
}
.btn-process {
    background-color: var(--accent-color);
    width: 220px;
    height: 52px;
    color:#fff;
    font-weight: 700;
    border-style: none;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
}
.team-blocks {
    justify-content: center;
    margin-bottom: 50px;
}
.team-block {
   width: 410px;
   margin-left: 50px;
   margin-right: 50px;
}
.team-desc-right {
    font-weight: 500;
    line-height: 1.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #fff;
}
.team-desc-left {
    font-weight: 500;
    line-height: 1.5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #fff;
}
h2.strategies {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 10px;
}
p.strategies {
    font-weight: 500;
}
.strategies-list {
    display: inline-flex;
    gap: 30px;
    margin-top: 45px;
    margin-bottom: 45px;
    align-items: flex-start;
}
.strategies-item {
    width: 352px;
    border-radius: 8px;
    border: 1px solid #DEDEDE;
}
.strategies-meta {
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 12px;
}
.strategies-title {
    font-size: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
}
.strategies-title-link {
    color: var(--primary-text-color);
}
.strategies-title-link-accent {
    color: var(--accent-color);
}
.dots {
    justify-content: center;
    gap: 10px;
}
.price-desc {
    font-weight: 500;
    margin-bottom: 40px;
}
.price-table {
    gap: 70px;
    justify-content: center;
    align-items: flex-start;
}
.price-block {
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 322px;
    font-family: 'Montserrat', sans-serif;
}
.price-block-accent {
    border-radius: 8px;
    background-color: var(--accent-color);
    width: 322px;
    color:#fff;
}
.price-header {
    padding-top: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.67;
    color: var(--primary-text-color);
}
.price-header-accent {
    padding-top: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.67;
}
.price-details {
    justify-content: center;
}
.price-desc {
    line-height: 2.5;
    padding-bottom: 12px;
}
.price-num {
    font-size: 76px;
    font-weight: 700;
    color: var(--accent-color);
    line-height: 1.32;
    padding-right: 10px;
}
.price-num-symbol {
    font-size: 30px;
    line-height: 1.32;
}
.price-num-accent {
    font-size: 76px;
    font-weight: 700;
    color: #fff;
    line-height: 1.32;
    padding-right: 10px;
}
.price-num-symbol-accent {
    font-size: 30px;
    line-height: 1.32;
    color: #fff;
}
.price-num-desc {
    font-size: 16px;
    color: #AFAFAF;
}
.price-info {
   padding-top: 16px; 
}
.btn-order {
    color: #fff;
    background-color: var(--accent-color);
    font-size: 18px;
    font-weight: 600;
    padding: 11px 18px;
    border-radius: 8px;
    border-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.btn-order-accent {
    color: var(--accent-color);
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 11px 18px;
    border-radius: 8px;
    border-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}
.rating {
    gap: 4px;
    justify-content: flex-start;
    margin-top: 28px;
    margin-bottom: 16px;
}
.testimonial {
    line-height: 1.75;
    color: #737373;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 16px;
    text-align: left;
}
.testimonial-author {
    margin-left: 26px;
    margin-bottom: 28px;
}
.testi-name {
    line-height: 1.5;
    font-weight: 600;
    color: var(--accent-color);
    padding-left: 14px;
}
.testi-info {
    line-height: 1.71;
    font-weight: 500;
    color: #252B42;
    padding-left: 14px;
}
.container-banner {
    width: 980px;
    margin: 0 auto;
    background-color: var(--accent-color);
    border-radius: 32px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 100px;
}
.banner-info {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    padding-bottom: 50px;
    margin-right: 100px;
}
.btn-banner {
    background-color: #fff;
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 34px;
    cursor: pointer;
    border-style: none;
    border-radius: 8px;
}
.footer-align {
    align-items: flex-start;
    gap: 50px;
}
.footer-block-30 {
    width: 30%;
}
.footer-block-20 {
    width: 20%;
}
.social-list {
    margin-top: 26px;
    gap: 30px;
}
.social-link {
    fill: var(--accent-color);
    stroke: var(--accent-color);
}
.social-link:hover,
.sociaal-link:focus {
    fill: var(--primary-text-color);
    stroke: var(--primary-text-color);
}
.footer-menu-header {
    font-size:20px;
    line-height: 1.5;
    font-weight: 500;
    padding-bottom: 16px;
}
.footer-menu-item {
    padding-bottom: 14px;
}
.footer-menu-link {
    text-decoration: none;
    color: var(--primary-text-color);
}